[submodule "External/matplotplusplus"]
	path = External/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
[submodule "External/cnpy"]
	path = External/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "External/sophus"]
	path = External/sophus
	url = https://github.com/strasdat/Sophus.git
